.body {
    background-color: #D5DED9;
}

.tbody {
    background-color: #D5DED9;
}

.centerPanel {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 30em;
    margin-top: -9em;
    margin-left: -15em;
    border: 1px solid
}

.header {
    position: relative;
    width: 90%;
    left: 5%;
    top: 10px;
}

.content {
    position: relative;
    width: 90%;
    left: 5%;
    top: 80px;
}
.footer {
    position: relative;
    width: 90%;
    left: 5%;
    top: 100px;
}

.dataTable {
    width: 80%;
    left: 20px
}

.rowREADY_FOR_TRANSPORT {
    background: #BD995B;
}

.rowREADY_FOR_COLD_STORE_REGISTRATION {
    background: #376080;
}

.rowREADY_FOR_SALE {
    background: #5E886A;
}

.rowSOLD_OUT {
    background: #FFFFFF;
}